<html lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <style>
        p {
            font-size: 80%
        }
        
        td {
            font-size: 80%
        }
        
        th {
            font-size: 80%
        }
        
        .text {
            font-size: 75%
        }
        
        .aviso {
            background: #F2F0F1;
            border-radius: 8px;
            padding: 8px;
        }
        
        html {
            border-radius: 10px;
            font-size: 0.9em;
        }
        
        <!--table,
        thead,
        tbody,
        tfoot {
            display: block;
        }
        
        --> td,
        th {
            height: 20px;
            border: 1px solid;
        }
        
        td {
            vertical-align: top;
        }
        
        .cel_centro {
            vertical-align: middle;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container" style="border-radius:0px; border: 1px black solid; padding:0px">
        <div align="center">
            <div>
                <img src="http://www.raiosx.ufc.br/empresa/images/fastef.png" />
            </div>
        </div>
        <hr/>
        <div align="center">
            LABORATÓRIO LRX / PROJETO FL0020
        </div>
        <br/>
        <table cellspacing="0" style="border: 1px solid;">
            <tr>
                <td width="640px"><strong>SOLICITAÇÃO DE ENSAIO Nº: {{numDoc}}</strong></td>
            <td width="640px">FORTALEZA, {{date}}</td>
            </tr>
        </table>
        <br/>
        <div>01. DADOS DA EMPRESA OU PESSOA FÍSICA INFORMADOS PELO SOLICITANTE PARA FATURAMENTO</div>
        <table cellspacing="0" style="border: 1px solid;">
            <tbody>
                <tr>
                    <td colspan="4">NOME/RAZÃO SOCIAL: {{full.name}}</td>
                </tr>
                <tr>
                    <td colspan="4">TELEFONE:{{full.phone}}</td>
                </tr>
                <tr>
                    <td colspan="2">CNPJ/CPF: {{full.doc}}</td>
                    <td colspan="2">INSC. ESTADUAL OU MUNICIPAL: {{ full.sr ? full.sr : ''}}</td>
                </tr>
                <tr>
                    <td colspan="2">CONTATO DO FINANCEIRO: </td>
                    <td colspan="2">E-MAIL ENCAMINHAMENTO DA NOTA FISCAL ELETRÔNICA: {{ full.email}}</td>
                </tr>
                <tr>
                    <td colspan="2">ENDEREÇO DO ESCRITÓRIO: {{full.street}}, {{full.number}}, {{full.neighborhood}}</td>
                    <td colspan="2">TELEFONES DO FINANCEIRO: {{user.phone1}}</td>
                </tr>
                <tr>
                    <td width="320px">BAIRRO: {{full.neighborhood}}</td>
                    <td width="320px">CIDADE: {{full.city}} - {{full.state}}</td>
                    <td width="320px">ESTADO:{{full.state}}</td>
                    <td width="320px">CEP: {{full.cep}}</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <div>02. INFORMAÇÕES COMPLEMENTARES:</div>
        <table cellspacing="0" style="border: 1px solid;">
            <tbody>
                <tr>
                    <td width="640px">CONTATO: {{user.email}}</td>
                    <td width="640px">RELATÓRIO(S) REFERENTE(S) AO(S) SERVIÇO(S) OU ENSAIO(S):</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <div>03. CUSTO DO(S) ENSAIO(S) OU SERVIÇO(S)</div>
        <table cellspacing="0" style="border: 1px solid;">
            <thead>
                <tr>
                    <th width="110px">ITEM</th>
                    <th width="640px">DISCRIMINAÇÃO DO(S) ENSAIO(S) OU SERVIÇO(S)</th>
                    <th width="110px">QUANT</th>
                    <th width="130px">VALOR UNITÁRIO</th>
                    <th width="120px">CUSTO PARCIAL</th>
                </tr>
            </thead>
            <tbody>
                @each(res in relatorio)
                    <tr>
                        <td width="110px" class="cel_centro">0{{$loop.index+1}}</td>
                        <td width="640px" class="cel_centro">{{res.desc}} <br/> {{res.list}}</td>
                        <td width="110px" class="cel_centro">{{res.qtd}}</td>
                        <td width="130px" class="cel_centro">R$ {{formatMoney(res.preco)}}</td>
                        <td width="120px" class="cel_centro">R$ {{formatMoney(res.total)}}</td>
                    </tr>
                @endeach
            </tbody>
            <tfoot>
                <tr>
                    <td style="text-align:right;vertical-align:middle;" width="1000px"><b>TOTAL</b></td>
                    <td class="cel_centro" width="122px"><b>R${{formatMoney(valor_total) }}</b></td>
                </tr>
            </tfoot>
        </table>
        <br />
        <div class="text">04. RECONHECIMENTO DO TEOR DO DOCUMENTO PELO SOLICITANTE</div>
        <div class="text">&nbsp;&nbsp;&nbsp;&nbsp;Declaro que as informações dos itens 01 a 03 são verdadeiras, e estou ciente do valor a ser cobrado.
            <br/> &nbsp;&nbsp;&nbsp;&nbsp;Reconheço os valores expostos neste documento e encaminharei a Nota Fiscal, boleto ou outro, para o setor competente para pagamento.
            <br/> &nbsp;&nbsp;&nbsp;&nbsp;Caso o SOLICITANTE efetue o pagamento e por motivo de força maior o Laboratório de Raios-X da UFC, não conclua o(s) serviço(s), o valor cobrado será reembolsado de forma integral. Caso o(s) serviço(s) seja realizado de forma parcial será descontado o valor correspondentes ao(s) serviço(s) concluído, e a diferença reembolsada.</div>
        <div style="border: 1px solid; height: 120px; width: inherit;">
            <div style="margin:0px;"><span>{{data.observacoesProposta}}</span></div>
            <div style="float:right; margin:-9px;">
                <div style="padding-right:80px;"><img src="http://www.raiosx.ufc.br/empresa/images/sasaki-assinatura.jpg" width="130" height="55" />
                    <br/><span class="text">Assinatura e Carimbo</span>
                    <br/>
                </div><span class="text">Coordenador do Laboratório</span>
                <br/>
            </div>
        </div>
        <br/>
        <hr/>
        <div style="font-size:12px; font-color:gray;">
            <span>Fundação ASTEF - Fundação de Apoio a Serviços Técnicos Ensino e Fomento a Pesquisas – CNPJ: 08.918.421/0001-08 – Insc. Estadual: 06.211.114-0 – Insc. Municipal: 22.6299-1</span>
            <br/>
            <span>Campus Universitário do Pici, S/N – Bloco 710 – Sala B – Bairro Amadeu Furtado – Fortaleza-CE. CEP: 60440-900</span>
            <br/>
            <span>Fone/Fax: (85) 3217-1425 / 3217-1900</span>
            <br/>
            <span>Diretor Presidente: José de Paula Barros Neto</span>
            <br/>
            <span>Gerente Executiva: Eveline Oliveira Viana</span>
            <span style="float:right;">e-mail: fundacao@fastef.ufc.br</span>
        </div>
        <hr/>
    </div>
</body>

</html>