<html>
<head>
    <title></title>
    <style type="text/css">
    * {margin: 0; padding: 0;}
    body {max-width: 600px;}
    p {margin: 20px 6.666666%; line-height: 1.5em;max-width:600px;}
    div, div img {max-width: 100%;}
    </style>
</head>
<body>
<div>
    <img src="http://csd.fisica.ufc.br/solicitacoes/imagens/cabecalho_email_lrx_ufc.gif" alt="Laboratório de Raios X"></div>
    <div>
    <p>Olá Professor(a),<br> foi solicitado um vínculo de aluno em seu nome vindo de {{name}} com o email {{email}} no Sistema de 
    Solicitações do Laboratório de Raios-X do departamento de Física da UFC. Para que possamos confirmar que este 
    endereço de email de fato pertence a você, precisamos que utilize o link de confirmação abaixo.</p>
    <p>Basta clicar no link abaixo que esta página será redirecionada para o sistema e o vínculo de seu aluno será efetuado. Link: <a href="{{linkBond}}">Confirmar Vínculo</a></p>
    <p>Caso o(a) sr(a) não tenha reconheça esse aluno, fique tranquilo(a). Não utilizar o link acima 
    implicará na não liberação do vínculo e quem quer que tenha utilizado seu endereço de email para cadastrar-se 
    não terá acesso ao sistema.</p>
    <br>
    <p>Caso possua alguma dúvida quanto ao cadastro ou ao sistema em si, por favor entre em contato com o Laboratório 
    por meio do endereço de email lrxufc@gmail.com, ou pelo telefone 85 33669013.</p>
    <p style="text-align:right;">Atenciosamente,<br>Laboratório de Raios-X</p>
    <img src="http://csd.fisica.ufc.br/solicitacoes/imagens/rodape_email.gif" alt="Bloco 928, sala 34 - Campus do Pici"></div></body>

</html>